<div class="search_form mt-4">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input">Nhap tu khoa:</label>
            <input type="text" class="form-control" name="key" id="search-input" aria-describedby="emailHelp"
                placeholder="Nhap tu khoa">
        </div>
        
        <div class="form-group">
            <label for="gender-form">Gioi tinh</label>
            <select name="gender" class="form-control" id="gender-form">
                <option value="">Chon gioi tinh</option>
                <option value="male">Nam</option>
                <option value="felame">Nu</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>